/* Медиа запрос: для экранов с шириной ДО 1140px */
@media (max-width: 1140px) {
    .wrapper a {
        font-size: 24px;                             
    }
    .page h1 {
        font-size: 45px;
        margin-bottom: 5px;
    }
    .page__title__info img {
        max-width: 45px;
    }
    .page__title {
        font-size: 42px;
        margin-bottom: 5px;
    }
    .page p {
        font-size: 20px;        
    }
    .page__buttons a {
        font-size: 20px;               
    }
    .page__img {
        max-width: 450px;
        align-items: right;  
        text-align: right;        
    }
}

/* Медиа запрос: для экранов с шириной ДО 760px */

