* {
box-sizing: border-box;     /*применяется для изменения алгоритма расчёта ширины и высоты элемента. ширина блока складывается из ширины контента (width), значений отступов (margin), полей (padding) и границ (border).*/
padding: 0;     /* позволяет задать величину поля сразу для всех сторон элемента или определить поля только для указанных сторон. */
margin: 0;   /*позволяет контейнеру обрезать поля своих дочерних элементов там, где они примыкают к краям контейнера.*/
border: 0;  /* Толщина рамки задаётся свойством border, при этом если указано border: 0, то рамка не выводится. При других значениях border рисунок всегда имеет приоритет. */
}

body {
    font-family: 'Roboto', sans-serif;  /*устанавливает семейство шрифта, которое будет использоваться для оформления текста содержимого. */
}

img {
    max-width: 100%;    /* устанавливает максимальную ширину элемента. */
}

a {
    text-decoration: none;  /* устанавливает внешний вид декоративных линий в тексте. */
  }

ul li {
    list-style: none;   /*позволяет одновременно задать стиль маркера, его положение, а также изображение, которое будет использоваться в качестве маркера списка.*/
  }

.wrapper {
    background: #FFF;   /* определяет область позиционирования фонового рисунка */
    padding: 60px 80px 141px 80px;   /* позволяет задать величину поля сразу для всех сторон элемента или определить поля только для указанных сторон. */
}

.nav__menu__ul {
    display: flex;  /* Свойство display, которое определяет, как элемент должен быть показан в документе */
    justify-content: flex-end;  /* выравнивает элементы вдоль основной оси - main axis (при расположении в виде строки по горизонтали, при расположении в виде столбца - по вертикали) */
    margin-bottom: 67px;    /* устанавливает величину отступа от нижнего края элемента */
    gap: 20px;  /* устанавливает промежутки между строками и столбцами сетки */
    align-items: center;    /* выравнивает элементы, но уже по поперечной оси (cross axis) (при расположении в виде строки по вертикали, при расположении в виде столбца - по горизонтали) */    
}

.nav__menu__a {
color: #000;    /* определяет цвет текста элемента */
font-size: 30px;    /* определяет размер шрифта элемента */
font-weight: 700;    /* устанавливает насыщенность шрифта  */
}

.page {
    display: flex;  
    align-items: center;    
    gap: 8px;  
    
}

.page__title__info {
    color: #000;    
    font-size: 87px;   
    font-weight: 700;  
    line-height: 90px;  /* Свойство line-height для блочных элементов определяет минимальную высоту строки текста. */
    max-width: 801px;   /* Свойство max-width устанавливает максимальную ширину элемента. */
    margin-bottom: 40px;
}

.page__title {
    color: #121212;    
    font-size: 80px;    
}

.page__subtitle {
    color: #6B6868;    
    font-size: 29px;    
    font-weight: 500;
    line-height: 45px; 
    margin-bottom: 52px;
}

.page__img {
    flex-shrink: 0; /* устанавливает коэффициент сжатия флексов в контейнере и задаёт, насколько элемент будет уменьшаться по отношению к другим флексам, чтобы разместить все элементы в одну строку. */
    display: flex;
    position: relative;
}
.page__img__bockdrop {
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 49px);
    left: 22px;
    top: -9px;
    background: #000;
    border-radius: 0px 0px 0px 260px;
}

.page__img img {
    border: 4px solid #000;
    border-radius: 0px 0px 0px 260px;
    z-index: 2; 

} 

.page__buttons {
    display: inline-flex;    
    align-items: center;
    gap: 38px;
}

.btn {
    display: inline-block;
    text-transform: uppercase;  /*управляет преобразованием текста элемента в заглавные или прописные символы */
    cursor: pointer;    /* устанавливает форму курсора, когда он находится в пределах элемента*/
    outline: 0;     /* одновременно устанавливающее цвет, стиль и толщину внешней границы на всех четырёх сторонах элемента */
    padding: 30px 50px;
    font-size: 32px;    
    font-weight: 700;
    line-height: 24px; 
    border: 2px solid transparent;
}

.btn.btn__primary {
    border-color: #000;  /* устанавливает цвет границы на разных сторонах элемента*/
    border: 2px solid #000; 
    color: #000;
}

.btn.btn__seconary {
    color: #FFF;
    border: 2px solid #000;
    background: #000;
}

